
  <app-header></app-header>


  

<div class="video-container">
    <!-- autoplay -->
    <video  muted loop playsinline class="bg-video">
        <source src="../../../../assets/videos/aa.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
  
    <div class="video-overlay"></div>
    
    <div class="video-text-below">
      Elevate your life
    </div>

    <div class="video-text-below-small">
      Colombo's premeir fitness destinatin with mithila dilshan porgrames
      </div>


      <div class="video-btn-holder">
         <Button class="starttoday">Start Today</Button>
         <Button class="learnmore">Learn more</Button>
      </div>

      <div class="count-holder">
        <div class="inner-holder-count">
            <span class="count-number">1,500</span>
            <span class="sub-title">Members</span>
        </div>

        <div class="inner-holder-count">
            <span class="count-number">20</span>
            <span class="sub-title">Trainers</span>
        </div>

        <div class="inner-holder-count">
            <span class="count-number">15</span>
            <span class="sub-title">Classes weelky</span>
        </div>

      </div>


  </div>












<div id="about" class="about-us-holder">
       <div class="about-us-inner-title-holder">
           <h1 class="whychooseustext">Why choose STEPUP</h1>
           <p class="wearemorethanajimtext">We are more than a jim-mithila dilshan</p>
       </div>


       <div class="urtransformjurnystartshear-outer-holder">
                     <div class="first-part">
                        <h1>Your tranfomation jounrny Starts Here</h1>
                            <span class="span1">Founded in 2015, STEPUP GYM has become Colombo's most trusted fitness destination, helping over 1,500 members achieve their health and wellness goals through our scientifically-proven training methodologies.</span>

                            <span class="span2">
                                Our 10,000 sqft state-of-the-art facility features cutting-edge equipment imported from Europe and the USA, ensuring you get the best workout experience possible.
                            </span>
                            <ul class="aboutulist">
                                <li><img src="../../../../assets/images/12.jpg" alt=""> Certified professional trainers</li>
                                <li><img src="../../../../assets/images/12.jpg" alt=""> Personalized workout plans</li>
                                <li><img src="../../../../assets/images/12.jpg" alt=""> Nutrition counseling</li>
                                <li><img src="../../../../assets/images/12.jpg" alt=""> 24/7 security & CCTV</li>
                            </ul>
                     </div>

                     <div class="secods-imahe-holder-part">
                        <div class="image-holder">
                            <img src="../../../../assets/images/1.jpg" alt="">
                            <div class="yellow-cornered-box">
                                <span class="number">10</span>
                                <span class="text">Mithila dilshan</span>
                            </div>

                        </div>
                       
                     </div>
       </div>
</div>















<div id="services" class="services-holder">
        <div class="about-us-inner-title-holder">
           <h1 class="whychooseustext">Our Premium Services</h1>
           <p class="wearemorethanajimtext">Comprehensive fitness solutions tailored to your needs</p>
       </div>


       <div class="boxeses-holder-outer">
 
          <div class="box">
            <img src="../../../../assets/images/12.jpg" alt="">
              <p class="box-main-text">Personal Training</p> 
              <p class="box-main-text-below">1-on-1 sessions with certified trainers to help you achieve specific fitness goals with customized workout plans.</p>

              <span class="learnmoretext">Learn more </span>
          </div>

          <div class="box">
            <img src="../../../../assets/images/12.jpg" alt="">
              <p class="box-main-text">Group Classes</p>
              <p class="box-main-text-below">Energetic group workouts including HIIT, Yoga, Zumba, Spin, and more with our expert instructors.</p>

              <span class="learnmoretext">Learn more </span>
          </div>

          <div class="box">
            <img src="../../../../assets/images/12.jpg" alt="">
              <p class="box-main-text">Nutrition Plans</p>
              <p class="box-main-text-below">PCustomized meal plans designed by nutritionists to complement your fitness journey and optimize results.</p>

              <span class="learnmoretext">Learn more</span>
          </div>

           
       </div>


       <div class="boxeses-holder-outer">
        <div class="box">
          <img src="../../../../assets/images/12.jpg" alt="">
            <p class="box-main-text">Body Composition</p>
            <p class="box-main-text-below">Advanced body scanning technology to track your progress with precise measurements and analytics.</p>

            <span class="learnmoretext">Learn more</span>
        </div>

        <div class="box">
          <img src="../../../../assets/images/12.jpg" alt="">
            <p class="box-main-text">Functional Training</p>
            <p class="box-main-text-below">Specialized programs focusing on movement patterns to improve your daily life and athletic performance.</p>

            <span class="learnmoretext">Learn more </span>
        </div>

         <div class="box">
          <img src="../../../../assets/images/12.jpg" alt="">
            <p class="box-main-text">Recovery Services</p>
            <p class="box-main-text-below">Massage therapy, cryotherapy, and other recovery modalities to enhance your performance and wellbeing.</p>

            <span class="learnmoretext">Learn more </span>
        </div>
     </div>



</div>
















<div id="membership" class="memebership-holder">
    <div class="about-us-inner-title-holder">
        <h1 class="whychooseustext">Membership Plans</h1>
        <p class="wearemorethanajimtext">Flexible options for every fitness journey</p>
    </div>



    <div class="mamabership-plamn-holder">
            <span class="chips" (click)="selectChip($event,'Daypass')">Day Pass</span>
            <span class="chips" (click)="selectChip($event,'Monthly')">Monthly</span>
            <span class="chips" (click)="selectChip($event,'Quarterly')">Quarterly</span>
            <span class="chips" (click)="selectChip($event,'BiAnnual')">BI Annual</span>
            <span class="chips" (click)="selectChip($event,'Annual')">Annual</span>
    </div>

    <div class="chnage-on-selected-holder">


        <div class="for-mounth" *ngIf="isdaypassselected">
            <div class="holder1">
              <span class="popularity">MOST POPULAR</span>
              <h1 class="membershiptitle">Day Pass Package</h1>
              <div class="stepperpackageinnerdetails">
                  <span class="visemounthly">Individual</span>
                  <span class="viseamount" #value1>1,500</span>
              </div>

              <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Couple</span>
                <span class="viseamount" #value2>2,500</span>
            </div>

            
             <a routerLink="/home/jim/registration">registration</a>

            <button class="getstartedbtn" (click)="onGetStarted(value1.innerText, value2.innerText)">Get Started</button>
            </div>
             
       </div>



             <div class="for-mounth" *ngIf="ismounthselected">
                  <div class="holder1">
                    <span class="popularity">MOST POPULAR</span>
                    <h1 class="membershiptitle">Monthly Package</h1>
                    <div class="stepperpackageinnerdetails">
                        <span class="visemounthly" >30 Days</span>
                        <span class="viseamount" #value1>6,000</span>
                    </div>

 

                    <!-- (click)="onGetStartedMonthly(value1.innerText, value2.innerText)" -->

                      <button class="getstartedbtn" >Get Started</button>
                  </div>
                  


                  <div class="holder1">
                    <span class="popularity">MOST POPULAR</span>
                    <h1 class="membershiptitle">Personal Training</h1>
                    


                    <div class="stepperpackageinnerdetails">
                        <span class="visemounthly">Individual</span>
                        <span class="viseamount">20,000</span>
                    </div>

                    <div class="stepperpackageinnerdetails">
                        <span class="visemounthly">Couple</span>
                        <span class="viseamount">30,000</span>
                    </div>

                   

                      <button class="getstartedbtn" >Get Started</button>
                  </div>


             </div>



             <div class="for-mounth" *ngIf="isquarterselected">
                <div class="holder1">
                  <h1 class="membershiptitle">Morning Glory</h1>
                  <div class="stepperpackageinnerdetails">
                      <span class="visemounthly">Individual</span>
                      <span class="viseamount">7,500</span>
                  </div>
                  <div class="stepperpackageinnerdetails">
                      <span class="visemounthly">Couple</span>
                      <span class="viseamount">14,000</span>
                  </div>

                    <button class="getstartedbtn">Start Morings Right</button>
                </div>
                <div class="holder2">
                  <span class="popularity">PREMIUM</span>
                  <h1 class="membershiptitle">Personal Training</h1>

                  <div class="stepperpackageinnerdetails">
                    <span class="visemounthly">Individual</span>
                    <span class="viseamount">50,000</span>
                </div>
                <div class="stepperpackageinnerdetails">
                    <span class="visemounthly">Couple</span>
                    <span class="viseamount">85,000</span>
                </div>
                   
                  <button class="getstartedbtn">Train Like a Pro</button>

                </div>

                <div class="holder2">
                    <span class="popularity">PREMIUM</span>
                    <h1 class="membershiptitle">Stepper Package</h1>
  
                    <div class="stepperpackageinnerdetails">
                        <span class="visemounthly">Individual</span>
                        <span class="viseamount">14,000</span>
                    </div>
                    <div class="stepperpackageinnerdetails">
                        <span class="visemounthly">Couple</span>
                        <span class="viseamount">25,000</span>
                    </div>
                     
                    <button class="getstartedbtn">Train Like a Pro</button>
  
                  </div>

           </div>




           <div class="for-mounth" *ngIf="isbiselected">
            <div class="holder1">
              <h1 class="membershiptitle">Morning Glory</h1>
              <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Individual</span>
                <span class="viseamount">15,000</span>
            </div>
            <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Couple</span>
                <span class="viseamount">25,000</span>
            </div>

                <button class="getstartedbtn">Start Morings Right</button>
            </div>
            <div class="holder2">
              <span class="popularity">PREMIUM</span>
              <h1 class="membershiptitle">Personal Training</h1>

              <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Individual</span>
                <span class="viseamount">85,000</span>
            </div>
            <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Couple</span>
                <span class="viseamount">135,000</span>
            </div>
               
              <button class="getstartedbtn">Train Like a Pro</button>

            </div>

            <div class="holder2">
                <span class="popularity">PREMIUM</span>
                <h1 class="membershiptitle">Stepper Package </h1>
  
                <div class="stepperpackageinnerdetails">
                    <span class="visemounthly">Individual</span>
                    <span class="viseamount">35,000</span>
                </div>
                <div class="stepperpackageinnerdetails">
                    <span class="visemounthly">Couple</span>
                    <span class="viseamount">45,000</span>
                </div>
                 
                <button class="getstartedbtn">Train Like a Pro</button>
  
              </div>

       </div>










           <div class="for-mounth" *ngIf="isannualselected">
            <div class="holder1">
              <span class="popularity">MOST POPULAR</span>

              <h1 class="membershiptitle">Stepper Package</h1>
              <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Individual</span>
                <span class="viseamount">42,000</span>
            </div>
            <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Couple</span>
                <span class="viseamount">70,000</span>
            </div>

                <button class="getstartedbtn">Start Morings Right</button>
            </div>

            <div class="holder2">
              <h1 class="membershiptitle">Moring Glory</h1>

              <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Individual</span>
                <span class="viseamount">25,000</span>
            </div>
            <div class="stepperpackageinnerdetails">
                <span class="visemounthly">Couple</span>
                <span class="viseamount">40,000</span>
            </div>
               
              <button class="getstartedbtn">Train Like a Pro</button>

            </div>

            <div class="holder3">
                <span class="popularity">PREMIUM</span>
                <h1 class="membershiptitle">Personal Training</h1>
  
                <div class="stepperpackageinnerdetails">
                    <span class="visemounthly">Individual</span>
                    <span class="viseamount">150,000</span>
                </div>
                <div class="stepperpackageinnerdetails">
                    <span class="visemounthly">Couple</span>
                    <span class="viseamount">250,000</span>
                </div>
                 
                <button class="getstartedbtn">Train Like a Pro</button>
  
              </div>

       </div>










      
 
    </div>

</div>













<div id="gallery" class="gallery-holder">
    <div class="about-us-inner-title-holder">
        <h1 class="whychooseustext">Our Gym Gallery</h1>
        <p class="wearemorethanajimtext">Take a virtual tour of our world-class facility</p>
    </div>
 
    <div class="image-main-outer-holder">
        <div class="imageholder">
            <img src="../../../../assets/images/1.jpg" alt="">
            <img src="../../../../assets/images/2.jpg" alt="">
            <img src="../../../../assets/images/3.jpg" alt="">
        </div>

        <div class="imageholder">
            <img src="../../../../assets/images/4.jpg" alt="">
            <img src="../../../../assets/images/5.jpg" alt="">
            <img src="../../../../assets/images/1.jpg" alt="">
        </div>

    </div>
</div>





<div id="success" class="success-holder">
    <div class="about-us-inner-title-holder">
        <h1 class="whychooseustext">Success Stories</h1>
        <p class="wearemorethanajimtext">Hear from our members about their transformations</p>
    </div>


    <div class="main-slider-holder">
        <div class="success-story-1" *ngIf="showsuccessstory1">
            
                <div class="slider-image-holder">
                    <img src="../../../../assets/images/12.jpg" alt="">
                    <button class="success-clickmorebtn">click here</button>
                </div>
             
            <div class="main-slider-details-holder">
                <div class="starts-holder">
                    <img src="../../../../assets/images/star.png" alt="">
                    <img src="../../../../assets/images/star.png" alt="">
                    <img src="../../../../assets/images/star.png" alt="">
                    <img src="../../../../assets/images/star.png" alt="">
                    <img src="../../../../assets/images/star.png" alt="">
                </div>
                <span class="success-text">
                    mdawjhdkj dkawjdhw akjdhw kdjawh daj wdhwk ajdh akwjd kdjwahdkawjh dkawjdha wkdjh kdjwahdk jawhd kawjh dkaw jhd
                </span>
                <span class="sucess-username">mithila dilshan</span>
                <span class="success-date">se 2025 2154</span>
            </div>
        </div>



        <div class="success-story-1" *ngIf="showsuccessstory2">
            
            <div class="slider-image-holder">
                <img src="../../../../assets/images/12.jpg" alt="">
                <button class="success-clickmorebtn">click here</button>
            </div>
         
        <div class="main-slider-details-holder">
            <div class="starts-holder">
                <img src="../../../../assets/images/star.png" alt="">
                <img src="../../../../assets/images/star.png" alt="">
                <img src="../../../../assets/images/star.png" alt="">
                <img src="../../../../assets/images/star.png" alt="">
                <img src="../../../../assets/images/star.png" alt="">
            </div>
            <span class="success-text">
                mdawjhdkj dfwafawfawfawfawf akwjd kdjwahdkawjh dkawjdha wkdjfwafawfawfh kdjwahfwafawfwhd kawjh dkaw jhd
            </span>
            <span class="sucess-username">mithila dilshan</span>
            <span class="success-date">se 2025 2154</span>
        </div>
    </div>


    <div class="success-story-1" *ngIf="showsuccessstory3">
            
        <div class="slider-image-holder">
            <img src="../../../../assets/images/12.jpg" alt="">
            <button class="success-clickmorebtn">click here</button>
        </div>
     
    <div class="main-slider-details-holder">
        <div class="starts-holder">
            <img src="../../../../assets/images/star.png" alt="">
            <img src="../../../../assets/images/star.png" alt="">
            <img src="../../../../assets/images/star.png" alt="">
            <img src="../../../../assets/images/star.png" alt="">
            <img src="../../../../assets/images/star.png" alt="">
        </div>
        <span class="success-text">
            mdawjhdkj dkawjdhw afwafwafwafawh dkawjdha wkdjh kdjwahdk jawhd kawjh dkaw jhd
        </span>
        <span class="sucess-username">mithila dilshan</span>
        <span class="success-date">se 2025 2154</span>
    </div>
</div>




      
    </div>

    <div class="navigation-dot-holder">
        <span (click)="goprevious()" class="handelers"><</span>
        <span 
          (click)="showsuccessstory('1')" 
          [class.active]="activeDot === '1'"
          class="sucess-dot"
        ></span>
      
        <span 
          (click)="showsuccessstory('2')" 
          [class.active]="activeDot === '2'"
          class="sucess-dot"
        ></span>
      
        <span 
          (click)="showsuccessstory('3')" 
          [class.active]="activeDot === '3'"
          class="sucess-dot"
        ></span>
        <span (click)="goforward()" class="handelers">></span>
      </div>

</div>










<div id="contact"  class="contact-holder">
    <div class="about-us-inner-title-holder">
        <h1 class="whychooseustext">Get In Touch</h1>
        <p class="wearemorethanajimtext">We'd love to help you start your fitness journey</p>
    </div>

         
    <div class="contact-main-outer-holder">
        <div class="contact-part-1">
            <div class="contact-main-details">
                 
                            <img src="../../../../assets/images/star.png" alt="">
                            <div class="icon-details">
                                <p class="icon-details-title">Location</p>
                                <span>mithila dilshan</span>
                                <span>mithila dilshfwafawfan</span>
                            </div>
               

            </div>


            <div class="contact-main-details">
                 
                <img src="../../../../assets/images/star.png" alt="">
                <div class="icon-details">
                    <p class="icon-details-title">Phone</p>
                    <span>mithila dilshan</span>
                    <span>mithila dilshfwafawfan</span>
                </div>
   

            </div>



            <div class="contact-main-details">
                 
                <img src="../../../../assets/images/star.png" alt="">
                <div class="icon-details">
                    <p class="icon-details-title">Email</p>
                    <span>mithila dilshan</span>
                    <span>mithila dilshfwafawfan</span>
                </div>
   

            </div>



            <div class="contact-main-details">
                 
                <img src="../../../../assets/images/star.png" alt="">
                <div class="icon-details">
                    <p class="icon-details-title">Hours</p>
                    <span>mithila dilshan</span>
                    <span>mithila dilshfwafawfan</span>
                </div>
   

            </div>




            <div class="contact-social-media">
                <img src="../../../../assets/images/star.png" alt="">
                <img src="../../../../assets/images/star.png" alt="">
                <img src="../../../../assets/images/star.png" alt="">
                <img src="../../../../assets/images/star.png" alt="">
            </div>
        </div>

         <form action="" class="contact-form">
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your Email">
            <input type="number" placeholder="Your Number">

            <select name="" id="">
                <option value="" selected>Select Subject</option>
                <option value="option1">option1</option>
                <option value="option2">option2</option>
            </select>

            <textarea name="" id="" placeholder="Your Message">
                
            </textarea>

            <button type="submit">Send Message</button>

         </form>
    </div>



</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63371.80392194131!2d79.81500583670302!3d6.9219220848702205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae253d10f7a7003%3A0x320b2e4d32d3838d!2z4Laa4Lec4LeF4La5!5e0!3m2!1ssi!2slk!4v1745911433734!5m2!1ssi!2slk" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>





<div class="joinwith-community">
     

    <h1>Mithia dilshan</h1>
    <p>me and app are her to hel u out and tell us for that</p>

    <div class="emailsend-holder">
        <form action="">
            <input type="text" placeholder="Email address">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>


<app-footer></app-footer>











