<div class="footer-main-holder">
    <div class="part1">
        <img src="../../../../assets/images/logo.png" alt="">
        <span>Colombo's premier fitness destination offering state-of-the-art facilities and personalized training programs since 2015.</span>
        <div class="contact-social-media">
            <img src="../../../../assets/images/star.png" alt="">
            <img src="../../../../assets/images/star.png" alt="">
            <img src="../../../../assets/images/star.png" alt="">
            <img src="../../../../assets/images/star.png" alt="">
        </div>

    </div>

    <div class="part2">
        <h2 class="title">Quick Links</h2>
        <a routerLink="#">Home</a>
        <a routerLink="#">About Us</a>
        <a routerLink="#">Services</a>
        <a routerLink="#">Membership</a>
        <a routerLink="#">Gallery</a>
        <a routerLink="#">Contact</a>
    </div>

    <div class="part2">
        <h2 class="title">Services</h2>
        <a routerLink="#">Personal Training</a>
        <a routerLink="#">Group Classes</a>
        <a routerLink="#">Nutrition Plans</a>
        <a routerLink="#">Body Composition</a>
        <a routerLink="#">Functional Training</a>
        <a routerLink="#">Recovery Services</a>
    </div>


    <div class="part2">
        <h2 class="title">Contact Info</h2>
         <div class="footer-icon-holder">
            <img src="../../../../assets/images/12.jpg" alt="">
                <div class="fotter-icon-details">
                    <span>211/5/1 Manis Dias Mawatha,</span>
                    <span>Boralesgamuwa</span>
                </div>
         </div>

         <div class="footer-icon-holder">
            <img src="../../../../assets/images/12.jpg" alt="">
                <div class="fotter-icon-details">
                    <span>+94 71 711 88 77</span>
                </div>
         </div>


         <div class="footer-icon-holder">
            <img src="../../../../assets/images/12.jpg" alt="">
                <div class="fotter-icon-details">
                    <span>sasasas</span>
                </div>
         </div>

         <div class="footer-icon-holder">
            <img src="../../../../assets/images/12.jpg" alt="">
                <div class="fotter-icon-details">
                    <span>Mon-Fri: 5AM-11PM, </span>
                    <span> Sat-Sun: 5AM-11PM</span>
                </div>
         </div>


    </div>


</div>